/**
 * Created by Marco Amato on 19/07/14.
 */


table{text-align: left;width: 100%}
table.tabletable{
    border:0;
    border-spacing: 0px;
}
table.tabletable td,table.tabletable th{
    padding: 3px 5px;
    text-align: left;
}
table.tabletable th{
    background:#AAA;
}
.tabletable tr:nth-child(even)
{
    background:#DDD;
}
body * {
    font-family: 'Lato', sans-serif;
}